.Ticket-page{
    width: 80%;
    background-color: #E5E5E5;
    /* height: 100vh; */
    display: flex;
    position: absolute;
    top: 0px;
    right: 0px;
    
}

.mid{
    width: 80%;
    /* height: 100vh; */
}